h1{
color: rgb(81, 81, 185);
margin-left: 1.5em;
font-family: cursive;
}

#knop {
  display:inline-flex;
  width: 10em;
  height: 10em;
  margin-left: 5em;
  margin-top: 1em;
  color: white;
  background-color:rgb(81, 81, 185);
  font-family: cursive;
  padding-top: 3em;
}

#verrassing {
  display:inline-flex;
  width: 10em;
  height: 10em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
  color: white;
  background-color:rgb(81, 81, 185);
  font-family: cursive;
  padding-top: 3em;
}

